{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "always",
	"requirePragma": false,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@/scripts", "^@/utils", "^@/types", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true
}
